instahms/META-INF/wsdl/SSOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:insta="http://www.instahealth.com/sso/" name="SSOService" targetNamespace="http://www.instahealth.com/sso/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.instahealth.com/sso/">
      <xsd:complexType name="ServiceException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValidationException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="insta:ServiceException" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InternalException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="insta:ServiceException" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AuthenticationException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="insta:ServiceException" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InvalidSessionException">
        <xsd:complexContent mixed="false">
          <xsd:extension base="insta:ServiceException" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LoginInput">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Timestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RealmName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UserName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PassWord" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LoginOutput">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SessionId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ValidTo" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LogoutInput">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SessionId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Timestamp" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LogoutOutput">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="TimestampOfLastLogin" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="login" type="insta:LoginInput" />
      <xsd:element name="loginResponse" type="insta:LoginOutput" />
      <xsd:element name="logout" type="insta:LogoutInput" />
      <xsd:element name="logoutResponse" type="insta:LogoutOutput" />
      <xsd:element name="ValidationException" type="insta:ValidationException" />
      <xsd:element name="InternalException" type="insta:InternalException" />
      <xsd:element name="AuthenticationException" type="insta:AuthenticationException" />
      <xsd:element name="InvalidSessionException" type="insta:InvalidSessionException" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="login" element="insta:login" />
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="loginResponse" element="insta:loginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutRequest">
    <wsdl:part name="logout" element="insta:logout" />
  </wsdl:message>
  <wsdl:message name="LogoutResponse">
    <wsdl:part name="logoutResponse" element="insta:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="ValidationException">
    <wsdl:part name="ValidationException" element="insta:ValidationException" />
  </wsdl:message>
  <wsdl:message name="InternalException">
    <wsdl:part name="InternalException" element="insta:InternalException" />
  </wsdl:message>
  <wsdl:message name="AuthenticationException">
    <wsdl:part name="AuthenticationException" element="insta:AuthenticationException" />
  </wsdl:message>
  <wsdl:message name="InvalidSessionException">
    <wsdl:part name="InvalidSessionException" element="insta:InvalidSessionException" />
  </wsdl:message>
  <wsdl:portType name="SSOServicePortType">
    <wsdl:operation name="Login">
      <wsdl:input message="insta:LoginRequest" />
      <wsdl:output message="insta:LoginResponse" />
      <wsdl:fault name="ValidationException" message="insta:ValidationException" />
      <wsdl:fault name="InternalException" message="insta:InternalException" />
      <wsdl:fault name="AuthenticationException" message="insta:AuthenticationException" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="insta:LogoutRequest" />
      <wsdl:output message="insta:LogoutResponse" />
      <wsdl:fault name="ValidationException" message="insta:ValidationException" />
      <wsdl:fault name="InvalidSessionException" message="insta:InvalidSessionException" />
      <wsdl:fault name="InternalException" message="insta:InternalException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSOServiceBinding" type="insta:SSOServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn://SSOService#Login" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationException">
        <soap:fault use="literal" name="ValidationException" />
      </wsdl:fault>
      <wsdl:fault name="InternalException">
        <soap:fault use="literal" name="InternalException" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="urn://SSOService#Logout" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationException">
        <soap:fault use="literal" name="ValidationException" />
      </wsdl:fault>
      <wsdl:fault name="InternalException">
        <soap:fault use="literal" name="InternalException" />
      </wsdl:fault>
      <wsdl:fault name="InvalidSessionException">
        <soap:fault use="literal" name="InvalidSessionException" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSOService">
    <wsdl:port name="SSOServicePort" binding="insta:SSOServiceBinding">
      <soap:address location="http://localhost:8180/instamain/SSOService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
